# Node.js
node_modules/

# Output of build
build/
dist/
*.log

# Dependency directories
.pnp/
.pnp.js

# dotenv environment variables file
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Webpack
webpack-*

# Jest
coverage/

# Next.js
.next/
out/

# Serverless
.serverless/

# Grunt intermediate storage
.grunt

# Temporary files
*.log
*.tmp
*.swp
*.bak
*.save

# Yarn
yarn-error.log
.pnp.*
yarn-debug.log*

# ESLint
.eslintcache

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
